//resets and so...
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //this defines what 1 rem is
    font-size: 62.5%; /*1 rem = 10px*/ /*.625 *16=10px that is the default value we had*/
}

body {
    box-sizing: border-box;
}